body {
	padding: 10px;
}

	body>.wrapper {
		background-color: #DDD;
		margin: auto;
		width: 100%;
		display: grid;
		grid-template-columns: 300px auto;
	}

.menu {
	background-color: #CFC; 
	height: 100%;
	border: 3px solid #040;
	padding: 10px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.menu .option {
	display: flex;
	justify-content: center;
	cursor: pointer;
	padding: 5px;
	margin-bottom: 5px;
}

.menu .option.hovering {
	background-color: #FFA;
}

.field {
	width: 600px;
	height: 600px;
	margin: auto;
	border: 2px solid #000;
	position: relative;
}
	.field .cell, .field .squirrel, .field .squirrel>.block, .field .island {
		position: absolute;
		box-sizing: border-box;
	}
	.field .cell {
		border: 1px solid #666;
	}
	.field .squirrel>.block {
		z-index: 3;
		border: 2px solid #000;
	}
.empty {
	border: 2px solid #000;
}
.withoutBottom {
	border-bottom: 0 !important;
}
.withoutTop {
	border-top: 0 !important;
}
.withoutLeft {
	border-left: 0 !important;
}
.withoutRight {
	border-right: 0 !important;
}
.arrow {
	margin: auto;
	border-radius: 50%;
	border: 1px solid #000;
	z-index: 5;
	position: absolute;
	box-sizing: border-box;
	background-image: url("img/arrow.jpg");
	background-size: 100%;
	cursor: pointer;
}
.arrowTop {
	transform: rotate(90deg);
}
.arrowBottom {
	transform: rotate(270deg);
}
.arrowRight {
	transform: rotate(180deg);
}
.deactivate {
	opacity: 0.4;
	cursor: default;
}

.mink {
	position: absolute;
	z-index: 6;
	pointer-events: none;
}
	.mink .circle {
		background-color: black;
		width: 50%;
		height: 50%;
		margin: 25%;
		border-radius: 50%;
		opacity: 0.4;
	}
	.mink.deactivate {
		display: none;
	}

.squirrel .nut {
	pointer-events: none;
	position: absolute;
	z-index: 5;
}
	.squirrel .nut.deactivate {
		display: none;
	}
.squirrel .nut .circle {
	background-color: #B70;
	width: 40%;
	height: 40%;
	margin: 30%;
	border-radius: 50%;
}